@import "mixins"

body.page-our-distillers

  .page-header
    font-size: 48px

  #container .row .col-sm-12
    background: rgba(black, .7)
    padding: 2em

  .view.view-our-distillers

    background: none

    .view-content
      display: flex
      flex-direction: column
      flex-wrap: wrap
      height: auto
      +media(568px)
        height: 2000px
      +media(1200px)
        height: 1600px

      .row-outer
        max-width: 200px

        background: none
        padding: 0
        margin-bottom: 20px

        .field-content
          a
            font-family: "IM Fell DW Pica"
            color: $color_bw1
            font-variant: small-caps
            font-weight: 600
            font-size: 16px


        h3
          font-style: normal
          font-family: "Old Standard TT"
          font-size: 2.4em
          font-weight: 600
          margin: 3px 0



