//@import "mixins"

.main-container
  aside.col-sm-3
    padding-left: 0
    +span-columns(12)
    +media($bkp_main_1024-up)
      +span-columns(3.5)
    +media(1400px)
      +span-columns(3)
    +media(1700px)
      +span-columns(2)

  section.col-sm-9
    padding-right: 15px
    +span-columns(12)
    +media($bkp_main_1024-up)
      +span-columns(8)
      +shift(.5)
      padding-right: 0
    +media(1400px)
      +span-columns(8.5)
      +shift(.5)
    +media(1700px)
      +span-columns(9.5)
      +shift(.5)




.main-container
  .row
    padding: 2em 0em
    margin: 0
    [class^='col-']
      padding-right: 0
      padding-left: 0

  +media($bkp_768-up)
    +span-columns(10)
    +shift(1)
    padding: 2em 0em

    aside.col-sm-3
      padding-left: 0


    section.col-sm-9
      padding-right: 15px








//HOME PRODUCT LISTS

//------OUR SELECTION

.main-container
  .region-content
    .block
      margin-bottom: 3em
  .row

    .our-selection
      +outer-container

      .view-content

        .row-wrapper
          padding: 3px
          +span-columns(12)

          +media($bkp_481-up)
            +span-columns(6)

          +media(1200px)
            +span-columns(3)

        .views-row
          background: $color_bw1
          border-radius: 0 0 5px 5px
          padding: 15px

          [class*=name]
            background: none
            text-align: center
            font-family: "Coustard", sans
            margin: .7em 0 0
            a
              color: $color_bw4
              text-decoration: none

          img
            width: 100%
            height: auto



