//@import "base"
//@import "mixins"

.front
  header#navbar
    .container
      +media($bkp_768-up)
        border-bottom: 30px solid #000000

header#navbar
  font-family: "Open sans", sans
  margin-bottom: 0

  &.navbar-default
    background: #000000
    border-color: #000000

  +media($bkp_768-up)
    background: #ffffff

  .container
    +outer-container
    padding: 0

    +media($bkp_0-767)
      padding: 0 15px


    .branding.mobile
      +media($bkp_768-up)
        display: none

    .branding.full
      display: none
      +media($bkp_768-up)
        display: block
        .logo
          margin: 3px 0 0


    .navbar-header
      background: #ffffff

    .navbar-collapse
      padding: 0
      background: black
      border-radius: 0
      overflow: hidden

      +media($bkp_768-up)
        background: white

      // ------------------TOP NAV
      .top-nav
        +span-columns(12)
        +media($bkp_768-up)
          height: 30px
          background: #000000
          .region-top-navigation
            +span-columns(10)
            +shift(1)

            ul.menu.nav
              li
                +span-columns(3.3 of 10, block-collapse)
                +omega(3n)
                text-align: center

                &:first-child
                  text-align: left

                &:last-child
                  text-align: right
                  float: right

                &:hover, &:focus
                  background: none

                a

                  font-weight: 400
                  font-size: 14px
                  +media(1100px)
                    font-size: 15px
                    font-weight: 600
                  color: darken(#ffffff,3)
                  padding: 0
                  height: 30px
                  line-height: 30px
                  text-transform: none

                  span.last2
                    font-size: .7em

                  &:hover, &:focus
                    background: none!important
                    outline: none!important
                    outline-offset: 0

                  +media(1100px)
                    text-transform: uppercase
                    letter-spacing: 1px


      //-------------- SITE NAV MOBILE
      .site-nav.mobile
        padding: 3px 0px

        #block-search-form
          margin: 0

        .user-nav-menu
          padding: 10px 0
          ul
            margin: 10px 0 0
            padding: 0 10px
            text-align: center
            li
              list-style: none
              display: inline-block
              margin: 0 1px

              a
                display: inline-block
                +size(45px)
                line-height: 45px
                background: black
                text-align: center
                color: white
                text-decoration: none
                border: 1px solid darken(white, 75)
                &.active
                  color: $color_links_hover

        #language-switcher-nav
          background: lightgray

        #search-box-mobile
          padding: 0 15px

          button
            background: #000000
            padding: 0
            color: #ffffff
            +size(30px)
            border: 1px solid white
            border-radius: 0
            i
              +size(30px)
              line-height: 30px

        input.form-control
          border-radius: 0
          height: 30px
          border: 1px solid white

      //-------------- SITE NAV FULL
      .site-nav.full
        +span-columns(11.7)
        +shift(0.3)
        background: none
        position: absolute
        top: 45px
        +media(1100px)
          +span-columns(10)
          +shift(1)

        .search-box
          width: 327px
          padding: 0
          margin: 0
          float: right
          .block
            margin: 0

          input[type=text]
            width: 282px

          button.btn
            position: inherit
            margin: 0
            padding: 0
            border: none
            border-radius: 0



        .user-nav-menu
          background: none
          width: 235px
          float: right


          ul
            float: none
            padding: 0
            margin: 0

          li
            +size(45px)
            list-style: none
            display: inline-block
            margin: 0 1px
            a
              +size(45px)
              display: inline-block
              background: black
              text-align: center
              line-height: 45px
              color: white



        .language-switcher-nav
          background: lightgray
          +span-columns(1)
          +shift(11)
          ul
            float: right
            li
              list-style: none


      .bottom-topbar
        padding: 0 15px
        +span-columns(12)

        +media($bkp_768-up)
          background: white
          height: 120px
          padding: 0
          +span-columns(12 of 12)
          +shift(0)

        +media(1100px)
          +span-columns(10 of 12)
          +shift(1)




        .branding.full
          +media($bkp_768-up)
            +span-columns(2 of 12)


        .search-user-lang
          +media($bkp_768-up)
            +reset-box
            +span-columns(10 of 12)
            +omega

            margin-top: 15px
            margin-bottom: 15px
            i
              font-size: 1.3em
              line-height: 45px


          +media(1100px)
            +reset-box
            +span-columns(8.12 of 10, block-collapse)
            margin-top: 15px
            margin-bottom: 15px
            float: right

            ///Internal components
          .language-switcher-nav, .search-box, .user-nav-menu
            float: right
            margin-right: 10px
            +media(1100px)
              margin-right: 0

          .user-nav-menu
            ul
              padding: 0
              margin: 0
              display: flex
            li
              display: inline-block
              +size(45px)
              margin: 0 1px 0 0
              &:last-child
                margin: 0
              a
                +size(45px)
                font-size: 1.1em
                text-transform: uppercase
                display: inline-block
                line-height: 45px
                text-decoration: none
                background: #000000
                text-align: center
                color: #ffffff

          .search-box
            +media($bkp_768-up)
              width: 237px
              padding: 0
              margin: 0 1px 0 0
              input
                width: 192px
            +media(1100px)
              width: 328px
              input
                width: 283px
            .block
              margin: 0

            button.btn
              position: inherit
              margin: 0
              padding: 0
              border: none
              border-radius: 0

          .language-switcher-nav
            +media($bkp_768-up)
              background: none
              height: 45px
              ul
                padding: 0
                margin-right: 3px
                li
                  list-style: none
                  display: inline-block
                  +size(45px)
                  overflow: hidden
                  margin-right: -3px
                  a
                    +size(45px)
                    background: #000000
                    margin: 0
                    padding: 0 3px
                    display: inline-block
                    text-align: center
                    line-height: 45px
                    overflow: hidden
                    text-overflow: ellipsis

        nav[role=navigation]


          ul.navbar-nav
            margin: 10px 0
            li

              a
                color: white

                &:hover
                  color: $color_links_hover
                &:focus, &:hover
                  background: lighten(black, 15)
                &.active
                  background: lighten(#000000, 10)


          +media($bkp_768-up)
            background: none
            margin-top: 0px
            +span-columns(9.1 of 11, block-collapse)
            +omega
            margin-right: 0

            ul.navbar-nav
              float: right
              margin: 5px 0px
              li
                background: none

                &:not(:last-child)
                  margin-right: 15px

                a
                  +reset-box
                  +reset-rendering
                  font-size: 14px
                  font-weight: 300
                  text-shadow: 1px 1px white
                  color: $color_bw5
                  background: none
                  padding: 10px 5px
                  position: relative

                  &:hover:after
                    content: " "
                    position: absolute
                    display: inline-block
                    +size(58px 4px)
                    background: $color_a1
                    bottom: 0
                    left: 45%
                    left: calc(50% - 29px)

                  &:hover
                    color: $color_a3
                    background: none

                  &.active
                    background: none
                    font-weight: 600

                  &.active:after
                    content: " "
                    position: absolute
                    display: inline-block
                    +size(42px 4px)
                    background: $color_a3
                    bottom: 0
                    left: 45%
                    left: calc(50% - 21px)

                  &:focus
                    background: none

          +media(1100px)
            +span-columns(9.16 of 11, block-collapse)
            ul.navbar-nav
              li
                &:not(:last-child)
                  margin-right: 25px
                a
                  font-size: 16px

