//@import "mixins"


body.node-type-whisky, body.node-type-wines, body.node-type-spirits


  .main-container
    +reset-box
    +span-columns(12)

    .row
      padding-top: 0

      .page-header //, ul.tabs--primary
        display: none

      .region-content

        #block-system-main
          margin-bottom: 2em
          .group-title
            text-align: center
            font-size: 24px
            color: $color_bw1
            font-family: "Old Standard TT"
            padding: 10px 10px 0 10px

            +media(750px)
              text-align: left



            >div
              display: inline-block
              padding: 0 5px 0 0

            .field-name-field-distillery
              text-transform: uppercase
              font-weight: 400
              font-size: 1.6em

            .field-name-title h2
              margin: 0
              font-weight: 400
              font-family: "Old Standard TT"
              font-size: 1.6em
              padding-left: 0px
              font-style: normal

          .group-middle-center
            margin-top: 0em
            margin-bottom: 1em
            padding: 10px
            font-family: "Old Standard TT"
            +span-columns(12)
            >div
              +span-columns(12)
              background: none
              border-radius: 2px
              margin-bottom: 2px
              .field-label, .field-items, *
                font-size: 16px
                font-weight: normal

              [class*=label]
                background: rgba($color_bw2, .5)
                padding: 2px
                margin-top: 5px
                +span-columns(12)
                display: inline-block
                +media(1365px)
                  +reset-display
                  +span-columns(3)
                  margin-top: 0
                  background: none

              .field-items
                background: none
                +span-columns(9)

          .group-product-details
            padding: 10px
            clear: both
            font-family: "Old Standard TT"
            font-size: 1.1em
            text-align: center
            +media(750px)
              text-align: left
              margin-bottom: 1em
              padding-top: 1em
            .field

              display: inline-block
              padding-right: 15px
              position: relative
              color: rgba($color_bw2, .6)

              &:not(:last-child):after
                content: "-"
                +size(5px)
                background: none
                position: absolute
                right: 6px
                top: 0px



            //-------------------WIDGET ---------------------
          .group-product-widget
            background: $color_bw5
            margin: 1em 0
            text-align: center
            padding: 10px


            .field-name-commerce-price
              background: $color_bw1
              text-align: center
              padding: 1em
              color: black
              font-size: 1.5em
              border-radius: 0
              font-weight: 400

            .field-name-social-links
              margin: .5em 0
              text-align: center
              .social
                div
                  display: inline-block
                  padding: 10px
                  i
                    color: $color_bw3
                    font-size: 3em
                    &:hover
                      color: $color_bw2

            .field-type-commerce-product-reference
              background: none
              #edit-line-item-fields
                display: none
              form
                >div
                  font-size: 20px
              button
                width: 98%
                margin: 3px 1%
                +background-image(linear-gradient($color_bw4, $color_bw5))
                border: 1px solid #fffbda
                font-family: "Open Sans"
                font-variant: all-small-caps
                font-size: 18px
                color: $color_bw1
                &:hover
                  +background-image(linear-gradient($color_bw3, $color_bw4))
                  border-color: $color_bw3




            //------------ LEFT
          .group-top-left
            background: none
            padding: 0em .5em
            img
              max-width: 440px

            .gallery-elements
              margin: 1em 5px 5px 0
              padding: 2px
              @extend %clearfix
              //background: rgba(black, .7)
              img
                +span-columns(4)
                cursor: pointer
            +media(568px)
              +span-columns(4)
            +media(1100px)
              +span-columns(3)
              padding-top: 2em

            .hand-icon
              background: none
              text-align: center
              margin-bottom: 0.3em
              .icon
                width: 100px
                font-family: "IM Fell DW Pica"
                float: right
                i
                  display: block
                  font-size: 1.2em


          .group-top-right
            +span-columns(12)
            background: none
            padding: 0.3em
            +media(568px)
              +span-columns(8)
            +media(1100px)
              +span-columns(9)
              +omega()

            +media(1600px)
              padding-top: 5em

            .group-top-middle
              background: none
              +span-columns(12)
              +media(1365px)
                +span-columns(5.8 of 9)
                +shift(.2)

              .field-name-field-body
                font-family: Coustard
                padding: 10px
                +media(1365px)
                  +span-columns(12)
                  +column-count(2)
                  +column-gap(30px)
                  text-align: justify
                  padding-right: 30px


            .group-product-widget
              +span-columns(12)
              +media(1365px)
                +span-columns(3 of 9)
                border: 2px solid $color_bw1
                padding: 1em
                border-radius: 0 0 10px 10px


        .block
          border-radius: 0!important


          img
            width: 100%
            height: auto


    .group-top-outer
      +span-columns(12)
      +shift(0)
      //+background-image(linear-gradient(to right, rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0, 0.8) 80%), url(../images/product-detail.jpg))
      background: rgba(black, .7)
      //background-position: 0 0
      //background-size: 100% 100%
      //background-repeat: no-repeat
      .group-top-section
        +media(1100px)
          +span-columns(10)
          +shift(1)



    .group-middle-section, .block:not(#block-system-main)
      +span-columns(11)
      +shift(.5)
      //background: rgba(black, .7)
      padding: .3em
      +media(1024px)
        +span-columns(10)
        +shift(1)


    .group-middle-outer
      +span-columns(12)
      +shift(0)
      +media(1024px)
        +span-columns(12)
        +shift(0)

      margin-top: 1.5em

      .field-group-div
        +span-columns(12)
        background: none
        padding: 0em
        +media(750px)
          +span-columns(4)

      .group-middle-section
        margin: .5em 0 0
        +span-columns(12)
        +shift(0)

        .group-middle-center
          background: none
          +span-columns(12)
          padding-left: 0px
          font-family: "Old Standard TT"
          font-weight: 600
          margin-bottom: 2em
          +media(724px)
            +span-columns(6.5)
            +shift(.5)
            margin-bottom: 0
          >div
            //width: 280px
            margin: 0 auto
            padding-top: 10px

            .collection-link
              margin: 20px 0
              a
                color: $color_bw3
                &:hover
                  color: $color_bw1

            .field-label
              background: none
              width: auto
              +span-columns(2 of 5.5)
              float: left
              +media(1200px)
                width: auto
                +span-columns(2 of 5.5)

            .field-items
              +span-columns(3.5 of 5.5)
              background: none
              display: inline-block
              float: left
          .field-name-distillery-collection-link
            +span-columns(12)
            background: none
            .field-items
              +span-columns(12)

      .group-middle-left, .group-middle-right
        .field-items > div:not(:last-child)
          margin-bottom: 0px


      .group-middle-right
        +span-columns(12)
        +media(724px)
          +span-columns(4)
          +shift(1)

        .field
          .field-items
            > div
              margin-bottom: 20px
              +media(1024px)
                max-width: 100%
                margin: 5px 0 5px


    .view-duplicaat-van-show-products-related-to-the-distillery
        +span-columns(11)
        +shift(.5)

    .distillery-related

      h2.block-title, >.view
        +span-columns(11)
        +shift(.5)


.view-duplicaat-van-show-products-related-to-the-distillery
  min-height: 200px
  .views-row
    position: relative

  .views-field-field-distillery, .views-field-nothing
    font-size: 1.5em
    font-variant: small-caps
    +media(1400px)
      background: none
      position: absolute
      top: 4%
      color: $color_a1
      font-family: "IM Fell DW Pica"
      font-size: 4em
      font-variant: small-caps
      left: 32%
      z-index: 5


  .views-field-field-distillery
    text-shadow: 4px 4px 5px #383838, -4px -4px 5px #383838

  .views-field-nothing
    display: none
    +media(1400px)
      display: block
      font-size: 8em
      top: -4%
      letter-spacing: 5px
      font-style: italic
      font-variant: small-caps
      left: 25%
      color: $color_a3
      z-index: 2
    +media(1600px)
      left: 25%
      top: -1%

  .views-field-field-distillery-image
    +media(1024px)
      padding: 0em
      position: relative
      &:after
        position: absolute
        top: 0px
        left: 0px
        content: " "
        +size(100%)
        +background-image(linear-gradient(to right, rgba(black, .9) 3%, rgba(black, .1) 10%, rgba(black, .00005) 25%, rgba(black, .2) 35%, rgba(black, .4) 45%, rgba(black, .5) 55%, rgba(black, .7) 60%, rgba(black, .7) 70%, rgba(black, .9) 80%, rgba(black, 1) 90%, rgba(black, 1) 95%))

  .views-field-field-distillery-body
    +media(1024px)
      background: none
      position: absolute
      top: 20%
      left: 30%
      max-height: 80%
      overflow: hidden
      padding-right: 2em
      +media(1024px)
        +column-count(3)
        +column-gap(15px)
        text-align: justify
        font-size: 15px
        font-weight: 600
        line-height: 18px
        font-family: "Old Standard TT"
        color: $color_bw1
        p
          margin-bottom: 1em
          &::first-letter
            font-size: 200%
            float: left
            padding: 5px 5px 0 0